<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flaxbox dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Flaxbox dashboard</h1>
        <section class="bottleData_wrapper">
            <article class="bottleData_table bottleData_video_wrapper">
                <h2 class="bottleData_table_title">Videos</h2>
                <table class="bottleData_table_table">
                    <tr>
                        <th>Jaar</th>
                        <th>Flessen</th>
                        <th></th>
                    </tr>
                    {% for video in videos %}
                    <tr>
                        <td>{{ video.year }}</td>
                        <td>{{ flessen|selectattr("year", "equalto", video.year) | list |length }}</td>
                        <td>
                            <button class="yearEditButton" data-year={{ video.year }}>edit</button>
                            <a target="_blank" href="/play?year={{ video.year }}">play</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <button class="bottleData_editButton yearEditButton">Nieuwe jaar</button>
                <div class="popup hidden" id="yearEdit">
                    <div>
                        <h3>Video aanpassen of aanmaken</h3>
                        <form action = "http://localhost:5000/yearEdit" method = "POST" enctype = "multipart/form-data">
                        <div id="yearWrapper">
                            <div class="yearWrapper_label_wrapper">
                                <label class="yearWrapper_label" for="year">Jaar</label>
                            </div>
                            <div class="yearWrapper_year_wrapper">
                                <input class="yearWrapper_year" type = "number" name = "year" value="1810" required />
                            </div>
                        </div>
                        <div id="videoFileWrapper">
                            <input id="videoFileInput" type = "file" name="file" accept=".mp4" required />
                        </div>
                        <button class="secondaryButton, popup_cancel">X</button>
                        <button disabled class="primaryButton" type = "submit">Opslaan</button>
                        <div class="error_container hidden">
                            <p class="error">This is a template error</p>
                        </div>
                        <div class="loader hidden"></div>
                    </form>
                </div>
            </div>
        </article>
        <article class="bottleData_table bottleData_bottle_wrapper">
            <h2 class="bottleData_table_title">Flessen</h2>
            <table class="bottleData_table_table">
                <tr>
                    <th>Id</th>
                    <th>Jaar</th>
                </tr>
                {% for fles in flessen %}
                <tr>
                    <td>{{ fles.Id }}</td>
                    <td>{{ fles.year }}</td>
                </tr>
                {% endfor %}
            </table>
            <button class="bottleData_editButton" id="bottleEditButton">Nieuwe fles</button>
            <div class="hidden popup" id="bottleEdit">
                <div>
                    <h3>Fles aanpassen of aanmaken</h3>
                    <div id="bottleEditStep1">
                        <p>Put an unregistered bottle in the machine...</p>
                        <div class="loader"></div>
                    </div>
                    <div id="bottleEditStep2">
                        <form action = "http://localhost:5000/yearEdit" method = "POST" enctype = "multipart/form-data">
                            <select id="unregisteredBottleYear">
                                {% for video in videos %}
                                    <option value="{{ video.year }}">{{ video.year }}</option>
                                {% endfor %}
                              </select>                              
                            <input id="unregisteredBottleId" class="hidden" type = "text" name = "id" value="testId" />
                            <button type = "submit">Opslaan</button>
                        </form>
                    </div>
                    <button class="secondaryButton popup_cancel">X</button>
                </div>
            </div>
        </article>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </section>
</body>
</html>